@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Success alert -->
<div class="alert alert-success d-none position-fixed top-0 start-50 translate-middle-x mt-3" id="sAlert" style="z-index: 1050; width: 50%;">
    <strong>Success!</strong> Patient record has been created successfully.
</div>

<!-- Error alert -->
<div class="alert alert-danger d-none position-fixed top-0 start-50 translate-middle-x mt-3" id="eAlert" style="z-index: 1050; width: 50%;">
    <strong>Error!</strong> Failed to save patient record.
</div>

<!-- Centering container -->
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">

    <div class="card mb-3" style="max-width: 100%; min-width: 70%; ">

        <div class="card-header bg-dark">
            <h2 class="text-center text-white">Edit Patient Record</h2>
        </div>

        <hr style="border: none; border-top: 5px solid #000000; width: 100%; margin: 20px 0;">

        <div class="card-body">
            <div class="d-flex justify-content-center">
                @using (Html.BeginForm("Edit", "PatientController", FormMethod.Post, new { @id = "edit", @style = "width: 100%; max-width: 600px;" }))
                {
                    <div class="mb-3 mt-3 text-left">
                        <label for="DosageAmount" style="margin-bottom: 10px; font-size: 20px;" class="fw-bold">Dosage</label>
                        @Html.TextBox("dosageamount", null, new { @class = "form-control mx-auto", @id = "dsgamount", @style = "max-width: 60%;", @placeholder = "Dosage Amount" })
                    </div>
                    <div class="mb-3 text-left">
                        <label for="DrugName" style="margin-bottom: 10px; font-size: 20px;" class="fw-bold">Drug</label>
                        @Html.TextBox("drugname", null, new { @class = "form-control mx-auto", @id = "drgname", @style = "max-width: 60%;", @placeholder = "Drug Name" })
                    </div>
                    <div class="mb-3 text-left">
                        <label for="PatientName" style="margin-bottom: 10px; font-size: 20px;" class="fw-bold">Patient</label>
                        @Html.TextBox("pname", null, new { @class = "form-control mx-auto", @id = "pname", @style = "max-width: 60%;", @placeholder = "Enter Name" })
                    </div>
                }
            </div>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-center">
                <button type="submit" id="save" class="btn btn-dark m-2" data-bs-toggle="tooltip" title="Save Changes">Save</button>
                <button type="reset" id="clr" class="btn btn-dark m-2" data-bs-toggle="tooltip" title="Clear Input">Clear All</button>
                <button type="button" class="btn btn-dark m-2" data-bs-toggle="tooltip" onclick="window.location.href = '/Patient/Index'" ; title="Cancel Now">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Edit.js"></script>