@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card m-3" style="border-width: 2px; border-color: #000000">
    <!-- head -->
    <div class="card-header bg-dark" style="border-width: 2px; border-color: #000000">
        <h2 class="text-left fw-bold" style="color: white;">Patient Details</h2>
    </div>
    <div class="card-body container-fluid" style="border-width: 2px; border-color: #000000">

        <!-- Create New Record Button -->
        <button type="button" id="createnewrecordBtn" class="btn btn-light fw-bold align-baseline"
                data-bs-toggle="tooltip" title="Go to create" onclick="window.location.href = '/Patient/Create'"
                style="font-size: 20px; margin-bottom: 10px; border: none;">
            Create New Record
        </button>

        <div class="table-responsive">
            <table class="table table-hover text-center align-middle">
                <thead>
                    <!-- Filters -->
                    <tr>
                        <th style="font-size: 20px;">Search By:</th>
                        <th><input type="date" class="form-control" id="date" placeholder="Date" data-bs-toggle="tooltip" title="Select Date"></th>
                        <th><input type="text" class="form-control" id="dosage" placeholder="Dosage" data-bs-toggle="tooltip" title="Input Amount"></th>
                        <th><input type="text" class="form-control" id="drug" placeholder="Drug" data-bs-toggle="tooltip" title="Input Drug Name"></th>
                        <th><input type="text" class="form-control" id="patient" placeholder="Patient Name" data-bs-toggle="tooltip" title="Input Patient Name"></th>

                        <th>
                            <button type="button" id="resetBtn" class="btn btn-link fw-bold text-black" style="font-size: 20px;"
                                    data-bs-toggle="tooltip" title="Reset searches">
                                Reset
                            </button>
                        </th>
                    </tr>

                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Dosage</th>
                        <th>Drug</th>
                        <th>Patient</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> </tbody>
            </table>
        </div>
    </div>
    <div class=" card-footer" style="border-width: 2px; border-color: #000000">
        <!-- page number -->
        <ul class="pagination d-flex justify-content-center"> </ul>
    </div>
</div>
<!-- Modal for Delete -->
<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="actionModalLabel">Action Confirmation</h5>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-dark" id="confirmAction">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Index.js"></script>